section,header,article,nav{
	display: block;
}
* {
	padding: 0;
	margin: 0;
}
body{
	margin: 1em 10%;
	background-image: url(../images/bg.png);
	background-attachment: fixed;
	/*background-attachment来指明背景图的位置是固定于视口的，还是随着包含块移动的*/
	/*fixed,背景图相对于视口固定,即背景图静止*/
	background-position: top left;
	background-repeat: repeat;/*沿着x轴（水平）方向重复*/
	max-width: 100em;
}
a{
	text-decoration: none;
}
header{
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: top right;
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
}
header nav{
	
	background-image: url(../images/navbar.png);
	background-size: cover;
	background-position: bottom left;
	/*设置背景图像的起始位置*/
	background-repeat: repeat-x;
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-left: 10%;
}
header nav ul{
	width: 100%;
	overflow: hidden;/*隐藏溢出*/
	border-left-width: .1em;
	border-left-style: solid;
}
header nav li{
	display: inline;
}
header nav li a{
	display: block;
	float: left;
	padding: .5em 2em;
	border-right: .1em solid;
}
article{
	border-width: .1em;
	border-style: solid;
	border-top-width: 0;
	padding: 2em 10%;
	line-height: 1.8em;
}
article img{
	border-width: .1em;
	border-style: solid;
	outline-width: .1em;
	outline-style: solid;/*outline元素周围轮廓*/
}

article table{
	border-width: 1px;
	margin: 0;
	border-style: solid;
	border-collapse: collapse;/*为表格设置合并边框模型*/

}

article table th{
	border-style: solid;
	border-width: 1px;
	padding: 8px;
}

article table td{
	border-style: solid;
	border-width: 1px;
	padding: 1em 1.5em;
}


/*根据id，设置不同页面的不同背景图*/
#about header{
	background-image: url(../images/zhu1.png);
}
#photos header{
	background-image: url(../images/zhu2.png);
}
#live header{
	background-image: url(../images/zhu3.png);
}
#contact header{
	background-image: url(../images/zhu5.png);
}

#slideshow{
	width: 250px;
	height: 326px;
	position: relative;
	overflow: hidden;
}
#preview{
	position: absolute;
	border-width: 0;
	outline-width: 0;
}

#imagessmall li{
	text-decoration: none;
	display: inline;
}